<h3><i class="fas fa-film"></i> WatchNext</h3>
<div class="section">
  <p class="lead">Track the movies you want to watch.</p>
</div>
<div class="divider"></div>
<div class="section"><a href="/auth/google" class="btn red darken-1"><i
      class="fab fa-google left"
    > </i>
    Login With Google</a></div>