p {
  margin: 10px 0;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

/* .card-image img {
  height: 200px;
  width: auto;
} */

.card-content {
  padding: 6px !important;
}

.overview {
  overflow: hidden;
}

.card-title {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  width: 100%;
}
